@charset "utf-8";
*{margin: 0; padding: 0; box-sizing: border-box; color: #333;}
a{text-decoration: none; color: inherit;}
ul, li{list-style: none;}

body{width: 100%; height: 100%;}
#wrap{width: 100%;}
.inner{width: 1000px; h: margin: 0 auto; background: #333;}
